# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing & Cache
.pytest_cache/
artifacts/pytest_temp/
.coverage
htmlcov/

# Environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/